{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KTU renginiai{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('../templates/css/main.css') }}"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {{ include('navbar.html.twig') }}
        {% block body %}
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h2>Rugsėjo pirmosios šventė</h2>
                        <h5>Rugsėjo 5, 2018</h5>
                        <div class="fakeimg" style="height:200px;"></div>
                        <p>Renginio akimirka</p>
                        <p>Renginys praėjo puikiai</p>
                    </div>
                    <div class="card">
                        <h2>EGZ</h2>
                        <h5>Gruodžio 30, 2018</h5>
                        <div class="fakeimg" style="height:200px;"></div>
                        <p>Renginio akimirka</p>
                        <p>Naujųjų metų akimirkos</p>
                    </div>
                </div>
                <div class="rightcolumn">
                    <div class="card">
                        <div class="fakeimg" style="height:250px;">
                            <img id="logo" class="fakeimg"  src="https://ktu.edu/wp-content/uploads/2016/03/KTU.svg" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <h3>Popular Post</h3>
                        <div class="fakeimg"><p>Image</p></div>
                        <div class="fakeimg"><p>Image</p></div>
                        <div class="fakeimg"><p>Image</p></div>
                    </div>
                    <div class="card">
                        <h3>Study at KTU</h3>
                        <p>Kaunas</p>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
        {% block footer %}
            <div class="footer">
                <h2>'Cia paveiksliuka imest'</h2>
            </div>
        {% endblock %}
    </body>
</html>
