{% extends 'base.html.twig' %}

{% block title %}My subscribtions{% endblock %}

{% block body %}
    <h1>Subscribed events</h1>
    {% for subscribtion in subscribtions %}
    {{ subscribtion.id }}
    {{ subscribtion.category }}
    {{ subscribtion.userid }}
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('subscribtion_new') }}">Select new</a>
{% endblock %}

