body {
    background: #FAE095;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #373A42;
    letter-spacing: .1em;
    text-shadow:
            1px -1px 0 #A7CFC7,
            -1px 2px 1px #A7CFC7,
            -2px 4px 1px #A7CFC7,
            -3px 6px 1px #A7CFC7,
            -4px 8px 1px #A7CFC7,
            -5px 10px 1px #A7CFC7,
            -6px 12px 1px #A7CFC7;
}
.log{
    background: #85B8AF;
    max-width: 500px;
    padding: 30px 45px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    box-shadow: dodgerblue;
    border:1px solid #e3e3e3;
}
input{
    background: aliceblue;
    border:1px solid #aaa;
    border-radius:30px;
    padding:10px 5px;
    font-size: 13px;
    margin: 1px;
    color:#373A42;
    width: 100%;
    box-sizing:border-box;
    text-align: center;
}
input[type = "submit"]{
    background: #F4D668;
    color: #373A42;
    border: 1px;
}
.alert{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:6px;
    color:#fff;
    width: 100%;
    text-align: center;
}
#error{
    background: red;
}
#success{
    background: limegreen;
    color: black;
}
table{
    width:50%;
    border: 1px solid black;
    border-collapse: collapse;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
th{
    background-color: #373A42;
    color: white;
}
tr:nth-child(even){
    background-color: #85B8AF;
    color: black;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #A7CFC7;
    color: black;
    text-align: center;
}
h2{
    font-size: 50px;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #373A42;
    letter-spacing: .1em;
    text-shadow:
            1px -1px 0 #A7CFC7,
            -1px 2px 1px #A7CFC7,
            -2px 4px 1px #A7CFC7,
            -3px 6px 1px #A7CFC7,
            -4px 8px 1px #A7CFC7,
            -5px 10px 1px #A7CFC7,
            -6px 12px 1px #A7CFC7;
}
input[name="submit1"]{
    width: 100px;
    background: darkgreen;
    color: white;
    border: 1px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
input[type="name"], [type="date"], [type="time"], [type="place"]{
    width: 300px;
    background: #A7CFC7;
    border:1px solid #aaa;
    border-radius:30px;
    padding:10px 5px;
    font-size: 13px;
    color:#333;
    box-sizing:border-box;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
input[name="logout"]{
    width: 100px;
    background: red;
    color: white;
    border: 1px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
h3{
    text-align: center;
    font-size: 40px;
    color: #373A42;
    letter-spacing: .1em;
    text-shadow:
            1px -1px 0 #A7CFC7,
            -1px 2px 1px #A7CFC7,
            -2px 4px 1px #A7CFC7,
            -3px 6px 1px #A7CFC7,
            -4px 8px 1px #A7CFC7,
            -5px 10px 1px #A7CFC7,
            -6px 12px 1px #A7CFC7;
}
